body {
  min-height: 100vh;
}

.navbar-logo {
  height: 80px;
}

.logo-title {
  max-width: 100%;
  height: 100px;
  margin-right: 2rem;
}

.card-img {
  transition: 0.3s;
}

.card:hover .card-img {
  transform: scale(1.075);
}

.btn-custom-0 {
  background-color: #ff8800;
}
.btn-custom-1 {
  background-color: #67ffb8;
}
.btn-custom-2 {
  background-color: #4800a7;
}
